.Outputs {
  margin-block: 75px;
  height: 120px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 30px;
  row-gap: 15px;
}

.Output {
  width: 130px;
  text-align: center;
  border-radius: 10px;
  border: 3px solid rgb(150, 150, 250);
  background: rgb(220, 235, 250);
  color: rgb(150, 150, 250);
}
