.Container {
  margin-inline: auto;
  width: 305px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  font-size: 40px;
}

.Outputs {
  margin-block: 75px;
  height: 120px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 30px;
  row-gap: 15px;
}

.Output {
  width: 130px;
  text-align: center;
  border-radius: 10px;
  border: 3px solid rgb(150, 150, 250);
  background: rgb(220, 235, 250);
  color: rgb(150, 150, 250);
}

.KeyboardButtons {
  width: 200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.KeyboardButton {
  border-radius: 10px;
  border: 3px solid rgb(250, 150, 150);
  background: rgb(250, 235, 220);
  color: rgb(250, 150, 150);
  width: 50px;
  height: 50px;

  font-size: 40px;
}

.KeyboardButton:hover {
  background: rgb(250, 235, 235);
}
