@import url("https://fonts.googleapis.com/css2?family=Rajdhani&display=swap");

.ClockFace {
  height: 500px;
  width: 500px;
  border-radius: 50%;
  background-color: rgba(230, 230, 255, 1);
  margin-inline: auto;
  position: relative;
}

.DateTimeData {
  position: absolute;
  top: 270px;
  left: 150px;
  height: 100px;
  width: 200px;
  font-size: 30px;
  color: blue;
  text-align: center;
  font-family: "Rajdhani", sans-serif;
}

.Arrow {
  position: absolute;
  left: 245px;
  width: 10px;
  border-radius: 5px;
  transform-origin: bottom;
}

.SecArrow {
  top: 0px;
  height: 250px;
  background-color: rgba(0, 0, 255, 0.5);
}

.MinArrow {
  top: 50px;
  height: 200px;
  background-color: rgba(0, 0, 255, 0.5);
}

.HourArrow {
  top: 100px;
  height: 150px;
  background-color: rgba(0, 0, 255, 0.5);
}

.ArrowAxisCover {
  position: absolute;
  top: 240px;
  left: 240px;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: blue;
}
